---
const { 
  home = "Home", 
  work = "Work", 
  contact = "Contact"
} = Astro.props;
---


<div class="header">
    <h1>Sankalp Tank</h1>
    <ul>
        <li><a href="/">{home}</a></li>
        <li><a href="/work">{work}</a></li>
        <li><a href="/contact">{contact}</a></li>
    </ul>
</div>



<style>
.header {
    font-size: 1rem;
}
.header h1 {
    color: white;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}
.header li {
    color: white;
    text-align: left;
    text-decoration: none;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 300;
    margin: 0.4rem 0rem;
}
.header li a {
    text-decoration: none;
    color: white;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
}
.header li a:hover {
    color: rgb(133, 133, 133);
}
</style>
